@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import '@mantine/core/styles.css';
@import '@mantine/carousel/styles.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevents page scrolling */
  text-align: center;
  color: #8fffff;
  display: flex;
  flex-direction: column;
}

/* Flex container to allow sticky footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

.main-content {
  width: 100%;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  flex: 1;
}
.sections-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.section-1 {
  background-color: #0d0628;
  background-image: url(/wallpaper.jpg);
  padding-bottom: 20px;
}
.section-2 {
  border-top: 1px solid #5237b2;
  background-color: #0d0628;
  padding: 50px;
}

.custom-button {
  margin: 20px;
  font-size: x-large;
  display: flexbox;
  width: 200px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  background: #8fffff;
  color: #0d0628;
  border-radius: 8px;
}

.custom-button:hover {
  background-color: #b9a6ff;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  color: #b9a6ff;
  text-transform: uppercase;
  background: linear-gradient(to right, #0e132d, #250439);
  padding: 20px 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.footer {
  position: sticky;
  background-color: #b9a6ff;
  color: #0d0628;
  padding: 10px 0;
  z-index: 999;
}

.leaflet-tooltip {
  background-color: #8fffff;
  color: #5237b2;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  pointer-events: auto; /* Enable touch interactions */
}

#map {
  width: 100%;
  height: 500px; /* Ensure the height is sufficient */
  z-index: 10;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  #map {
    height: 300px; /* Adjust height for phones or smaller devices */
    width: 100vw;
  }
  .custom-button {
    font-size: medium;
  }
  .section-2 {
    padding: 20px;
  }
  .leaflet-tooltip {
    font-size: 14px;
    padding: 12px; 
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}